.button {
	background-color: rgb(88 40 15 / 34%);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	width: 146px;
}

.button:hover {
	opacity: 0.9;
}

.button:active {
	opacity: 0.5;
}

#menu {
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgb(39, 27, 16);
	background-image: url("../img/table.jpg");
}

#menu div {
	margin: auto;
	height: 220px;
	transform: translateY(-50%);
	position: absolute;
	width: 100%;
	top: 50%;
}

#menu h1 {
	font-size: 48pt;
}

#menu .button {
	background-color: rgb(88 40 15);
}

#menu-settings {
	display: none;
	background-color: rgba( 255, 255, 255, 0.25 );
	border-top: 2px solid rgba( 255, 255, 255, 0.75 );
	border-bottom: 2px solid rgba( 255, 255, 255, 0.75 );
}

#menu-settings label {
	display: inline-block;
	width: 140px;
	text-align: left;
	font-size: large;
}

#menu-settings select {
	width: 150px;
	padding: 5px;
}

#undo-data {
	position: absolute;
	z-index: 8;
	right: 0;
	top: 50px;
	background-color: rgba( 255, 255, 255, 0.25 );
	border: 2px solid rgba( 255, 255, 255, 0.5 );
	padding: 15px;
	display: none;
	text-decoration: underline;
	cursor: pointer;
	color: white;
	font-weight: bold;
}
